// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------


.contact-footer{
    position: relative;
    height: 8em;
    background-color: $light-pink;
    text-align: center;
    text-transform: uppercase;
}

footer{
    height: 2em;
    background-color: $gray;
    text-align: center;
    text-transform: uppercase;
}

.to-top{
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
}

.fa-long-arrow-alt-up{
    padding-bottom: .3em;
    font-size: 2em;
}