// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


#header{
    text-align:left;
    margin-left: 1.5em;
    @media #{$breakpoint-min-sm}{
        text-align: center;
        
    }
}

