/**
 * Basic typography style for copy text
 */
 @import url("https://fonts.googleapis.com/css2?family=Cabin&family=Parisienne&family=Roboto&display=swap");

$font-parisienne: 'Parisienne', serif;
$font-roboto: 'Roboto', serif;
$font-cabin: 'Cabin', serif;

.fw-n{ 
  font-weight:400 !important;
}

$fw-bold: 700;

.logo-font{
  font-family: $font-parisienne;
  letter-spacing: .2em;
}

.logo-1{
  font-family: $font-parisienne;
  line-height: 1.1;
  font-size: 3.6em;
  margin: 0;
}

.logo-2{
  font-family: $font-parisienne;
  line-height: 1.1;
  font-size: 3em;
  margin: 10px 0;
  @media #{$breakpoint-md} {
    font-size: 2.3em;
  }
  @media #{$breakpoint-lg} {
    font-size: 2.7em;
  }
}

.logo-sect{
  font-family: $font-roboto;
  text-transform: uppercase;
  font-size: .8em;
}
.sect-title{
  font-family: $font-roboto;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 5px;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: $base-text-color;
  @media #{$breakpoint-md} {
    font-size: 1em;
  }
  @media #{$breakpoint-lg}, #{$breakpoint-xl} {
    font-size: .8em;
  }
}

.sect-substitle{
  font-family: $font-roboto;
  font-size: 1.1em;
}

.normal-text{
  font-size: 1.2em;
  color: $base-text-color;
  @media #{$breakpoint-sm} {
    font-size: 1em;
  }
  @media #{$breakpoint-md} {
    font-size: .75em;
  }
  @media #{$breakpoint-lg} {
    font-size: .69em;
  }
  @media #{$breakpoint-xl} {
    font-size: .56em;
  }
  
}