// ---------------------------------------------------------------
// Contact hero section
// ---------------------------------------------------------------

.contact-hero-container{
    position: relative;
}

.contact-hero-parallax-window{
    min-height: 33em;
    background: transparent;
    position: relative;
    text-align: center;
    @media #{$breakpoint-sm}{
        min-height: 34em;
    }
    @media #{$breakpoint-md}{
        min-height: 18em;
    }
    @media #{$breakpoint-lg}{
        min-height: 19em;
    }
    @media #{$breakpoint-xl}{
        min-height: 19.5em;
    }
}

.contact-hero-parallax-window:before{
    content: ' ';
    display: block;
    position: absolute;
    background-color: black;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5;
}

.contact-hero-parallax{
    text-align: center;
    color: white;
    width: 24em;
    height: 16em;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    @media #{$breakpoint-sm}{
        width: 27em;
        height: 17em;
    }
    @media #{$breakpoint-md}{
        width: 27em;
        height: 9em;
    }
    @media #{$breakpoint-lg}{
        width: 24em;
        height: 9em;
    }
    @media #{$breakpoint-xl}{
        width: 20em;
        height: 9em;
    }

    .sect-title{
        color: white;
        font-size: 1.8em;
        @media #{$breakpoint-sm}{
            font-size: 2em;
        }
        @media #{$breakpoint-md}{
            font-size: 1.3em;
        }
        @media #{$breakpoint-lg}{
            font-size: 1.2em;
        }
        @media #{$breakpoint-xl}{
            font-size: 1.15em;
        }
    }
    .sect-subtitle{
        color: white;
        font-size: 1.5em;
        @media #{$breakpoint-sm}{
            font-size: 1.6em;
        }
        @media #{$breakpoint-md}{
            font-size: 1.1em;
        }
        @media #{$breakpoint-lg}{
            font-size: 1em;
        }
        @media #{$breakpoint-xl}{
            font-size: .9em;
        }
    }
}

.contact-hero-text{
    color: white;
    font-size: 1.15em;
    @media #{$breakpoint-sm}{
        font-size: 1.15em;
    }
    @media #{$breakpoint-md}{
        font-size: .9em;
    }
    @media #{$breakpoint-lg}{
        font-size: .85em;
        margin: 1.6em .8em 0 .8em;
    }
    @media #{$breakpoint-xl}{
        font-size: .7em;
        margin: 1.6em .8em 0 .8em;
    }
}

// ---------------------------------------------------------------
// Contact form section
// ---------------------------------------------------------------

.contact-container{
    margin: 6em 0;
}
.contact-form-container{
    text-align: center;
}

.contact-title{
    font-size: 2.8em;
}

.form-field{
    display: block;
    text-align: center;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &::placeholder{

    }
}

.form-hr{
    width: 24em;
    border: none;
    height: 3px;
    background-color: rgba(186,197,202,1);
}
