// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// ---------------------------------------------------------------
// Home hero section
// ---------------------------------------------------------------
.home-hero{
    @media #{$breakpoint-xs} {
        position: relative;
        height: 53em;
    }
    @media #{$breakpoint-sm}{
        position: relative;
        height: 40em;
    }
    @media #{$breakpoint-min-md} {
        display: grid;
        grid-template-columns: minmax(4em, 5em) [text-start] minmax(7em, 1fr) [img-start] minmax(7em, 1fr) [text-end] minmax(7em, 1fr) [img-end] minmax(4em, 5em);
        margin-top: 3em;
        .home-hero-text{
            grid-column: text-start / text-end;
            grid-row: 1 / 2;
            z-index: 99;
            margin: auto 0;
    
            p {
                display: flex;
                text-transform: uppercase;
                background-color: $light-pink;
                width: auto;
                height: 50px;
                justify-content: center;
                align-items: center;
                letter-spacing: .2em;
                @media #{$breakpoint-min-md} {
                    height: 70px;
                }
            }
            .logo-font {
                font-size: .9em;
                font-weight: 700;
            }
    
        }
        .home-hero-img{
            grid-column: img-start / img-end;
            grid-row: 1 / 2;
            height: 21em;
    
            img {
                height: 100%;
                object-fit: cover;
            }
        }

    }
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl} {
        // grid-template-columns: auto [text-start] minmax(7em, 1fr) [img-start] minmax(7em, 1fr) [text-end] minmax(7em, 1fr) [img-end] auto;
        grid-template-columns: auto [text-start] minmax(7em, 8em) [img-start] minmax(7em, 10em) [text-end] minmax(7em, 10em) [img-end] auto;
    }
}

.home-hero-text{
    @media #{$breakpoint-xs}, #{$breakpoint-sm}{
        position: absolute;
        top: 16em;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 1.8em;
        width: 13em;
        margin: auto;
        p {
            display: flex;
            text-transform: uppercase;
            background-color: $light-pink;
            width: auto;
            height: 50px;
            justify-content: center;
            align-items: center;
            letter-spacing: .2em;
        }
        .logo-font {
            font-size: .9em;
            font-weight: 700;
        }
        @media #{$breakpoint-sm}{
            top: 12em;
            width: 16em;
        }
    
    }
}

.home-hero-img{
    height: 34em;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}


// ---------------------------------------------------------------
// Home coaching section
// ---------------------------------------------------------------


.home-coaching{
    
    display: grid;
    grid-template-rows: repeat(2 auto); 
    grid-template-columns: 65vw;
    grid-row-gap: 3em;
    text-align: center;
    justify-content: center;

    @media #{$breakpoint-sm}{
        grid-template-columns: 50vw;
    }
    .coaching-1-1,
    .coaching-free{
        display: grid;
        grid-template-rows: 25em 28em;
        height: 100%;
        @media #{$breakpoint-sm}{
            grid-template-rows: 25em 21em;
        }
    }
    
    @media #{$breakpoint-min-md} {
        grid-template-columns: 2fr [coaching-1-1] minmax(auto, 13em) 3em [coaching-free] minmax(auto, 13em) 2fr; 
        margin-top: 3em;
        .coaching-1-1{
            grid-column: coaching-1-1;
        }
        
        .coaching-free{
            grid-column: coaching-free;
        }
        .coaching-1-1,
        .coaching-free{
            grid-template-rows: 15em 17em;
            @media #{$breakpoint-lg} {
                grid-template-rows: 15em 15em;
            }
            @media #{$breakpoint-xl} {
                grid-template-rows: 12em 12em;
            }
        }
    }
    @media #{$breakpoint-xl} {
        grid-template-columns: 2fr [coaching-1-1] minmax(auto, 11em) 3em [coaching-free] minmax(auto, 11em) 2fr;
    }  
}

.coaching-img{
    width: auto;
    margin: 0;
    width: auto;
    object-fit: cover;
    height: 100%;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
   
}

.coaching-text{
    position: relative;
    background-color: $light-pink;
    height: 100%;
    padding: 0.6em;
    
}


// ---------------------------------------------------------------
// Home about section
// ---------------------------------------------------------------

.home-about{
    background-color: $gray;
    margin-top: 2em;
    text-align: center;
    display: grid;
    grid-template-rows: auto 32em minmax(auto, 41em) 7em;

    @media #{$breakpoint-sm} {
        grid-template-rows: auto 36em minmax(auto, 24em) 4em;
    }
    @media #{$breakpoint-min-md} {
        background-color: white;
        height: 610px;
        grid-template-columns: 6em 15em repeat(2, 1fr) 6em;
        grid-template-rows:repeat(3, 1fr);
        .home-about-title{
            grid-column: 3/5;
            grid-row: 1/1;
            text-align: start;
            padding: 0 1em;
        }
        .home-about-img{
            grid-column: 2/3;
            grid-row: 1/5;
        }
        .about-text{
            grid-column: 3/5;
            grid-row: 2/3;
            text-align: start;
            padding: 0 0 0 1.5em;
        }
        .about-cta-btn{
            grid-column: 3/5;
            grid-row: 3/3;
            margin: 0 auto auto auto;
        }
    }
    @media #{$breakpoint-lg} {
        grid-template-columns: 7em 15em repeat(2, 1fr) 7em;
        height: 550px;
    }
    @media #{$breakpoint-xl} {
        grid-template-columns:  8em 15em repeat(2, 1fr) 8em;
        height: 540px;
    }
}

.home-about-title{
    margin: 1em auto 0 auto;
    text-align: center;
}

.home-about-img{
    width: 85vw;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    height: 90%;
    background-color: white;
    padding: 20px;
    @media #{$breakpoint-sm} {
        width: 65vw;
    }
    @media #{$breakpoint-min-md} {
        width: 100%;
        background-color: $light-pink;
    }

    img{
        object-fit: cover;
        margin: auto;
        width: 100%;
        height: 100%;
    }
}

.about-text{
    padding: 0 2.5em;
    margin: auto;
    @media #{$breakpoint-sm} {
        padding: 0 5.5em;
    }
}

// ---------------------------------------------------------------
// Home quote parallex section
// ---------------------------------------------------------------

.quote-parallax-window {
    min-height: 480px;
    background: transparent;
    position: relative;
    text-align: center;

    h2 {
        padding: .8em;
        margin: 0;
    } 

    @media #{$breakpoint-xl} {
        min-height: 600px;
    }
}

.quote{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 19em;
    width: 23em;
    margin: auto;
    padding: 1.5em;
    background: white;
    .quote-text{
        font-size: 1.9em;
        margin: 0.6em .6em 0 .6em;
        letter-spacing: .3em;
    }
    .quote-author{
        font-size: .8em;
    }
    @media #{$breakpoint-sm} {
        height: 18em;
        padding: 1.5em;
        .quote-text{
            font-size: 1.8em;
        }
    }
    @media #{$breakpoint-md} {
        height: 10em;
        width: 31em;
        padding: 1em;
        .quote-text{
            font-size: 1.4em;
        }
    }
    @media #{$breakpoint-lg} {
        height: 10em;
        width: 31em;
        padding: 1em;
        .quote-text{
            font-size: 1.6em;
        }
        .quote-author{
            font-size: .6em;
        }
    }
    @media #{$breakpoint-xl} {
        height: 8em;
        width: 29em;
        padding: .8em;
        .quote-text{
            font-size: 1.2em;
            padding: 0 2em;
            margin: 0.6em .6em .2em .6em;
        }
        .quote-author{
            font-size: .6em;
        }
    }
}





// ---------------------------------------------------------------
// Home cta parallex section
// ---------------------------------------------------------------

.parallax-window {
    min-height: 400px;
    background: transparent;
    position: relative;
    text-align: center;

    h2 {
        padding: .8em;
        margin: 0;
    }
    
}
.cta-parallax{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 18em;
    width: 24em;
    margin: auto;
    background: white;
    @media #{$breakpoint-sm} {
        height: 13em;
        width: 26em;
        padding: 0 .8em;
        .normal-text{
            font-size: .9em;
        }
        .sect-title{
            font-size: 1.1em;
        }
    }
    @media #{$breakpoint-md} {
        height: 12em;

        .normal-text{
            font-size: .9em;
        }
    }
    @media #{$breakpoint-lg} {
        height: 11em;
        width: 22em;
        padding: 0 .7em;
        .normal-text{
            font-size: .8em;
        }
        .sect-title{
            font-size: .9em;
        }
    }
    @media #{$breakpoint-xl} {
        height: 9em;
        width: 21em;
        padding: 0 .8em;
        .normal-text{
            font-size: .65em;
        }
        .sect-title{
            font-size: .8em;
        }
    }
}

.cta-parallax-btn{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3em;
    @media #{$breakpoint-sm} {
        bottom: 2em;
    }
    @media #{$breakpoint-md} {
        bottom: 2em;
    }
    @media #{$breakpoint-lg} {
        bottom: 2em;
    }
    @media #{$breakpoint-xl} {
        bottom: 1em;
    }
}

